<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
  </configSections>
  
  <appSettings>
    <add key="NGinnMessageBus.Endpoint" value="sql://atmosferamq/MQ_MailService"/>
    <add key="NGinnMessageBus.RoutingFile" value="Routing.json"/>
    <add key="NGinnMessageBus.MaxConcurrentMessages" value="1"/>
    <add key="NGinnMessageBus.HttpListener" value="http://+:9023/"/>
    <add key="NGinnMessageBus.MessageRetentionPeriod" value="1.00:00:00"/>
    <add key="NGinnMessageBus.EnableSagas" value="true"/>
    <add key="NGinnMessageBus.SendOnly" value="false"/>
    <add key="NGinnMessageBus.AlwaysPublishLocal" value="true"/>
    <add key="NGinnMessageBus.PluginDirectory" value="Plugins"/>
    <add key="SameRecipientSMSSaga.DeliveryInterval" value="0.00:05:00"/>
    <add key="NGinnMessageBus.ServiceHost.ComponentConfig" value="castle" />
  </appSettings>
  <connectionStrings>
    <add name="atmosferamq" providerName="System.Data.SqlClient" connectionString="Data Source=(local);Initial Catalog=AtmosferaP46;User Id=p4user;Password=PASS"/>
    <add name="atmodb" providerName="System.Data.SqlClient" connectionString="Data Source=(local);Initial Catalog=AtmosferaP46;User Id=p4user;Password=PASS"/>
  </connectionStrings>
  
  <castle>
	
    
  </castle>

  <system.serviceModel>
    
  </system.serviceModel>
  
  <startup>
  <supportedRuntime version="v2.0.50727"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Plugins" />
    </assemblyBinding>
  </runtime>
</configuration>
