@{
    Layout = null;
}
<html>
    <head>
    </head>
    <body>
        <img   src="Graph/DrawGraph?definitionId=@(ViewBag.definitionId)&w=@(ViewBag.w)&h=@(ViewBag.h)&startTime=@(ViewBag.startTime)&endTime=@ViewBag.endTime&imgInfoKey=@ViewBag.imgInfoKey" /></img>
    </body>
</html>