<?xml version="1.0"?>

<configuration>
  <appSettings>
    
  </appSettings>
  <connectionStrings>
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <authentication mode="Windows">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
    </authentication>
  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="4.0.0.0-4.0.0.1" newVersion="4.0.0.1"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
