@{
    ViewBag.Title = "About Us";
}

<h2>About</h2>
<p>
     Put content here.

     Brak menu gornego bo zjada ekran niepotrzebnie.
     Tylko menu boczne.
     Z lewej strony cała nawigacja
     Z prawej - wyjezdzajacy panel narzedzi (?)
     A grafika gdzie???
     

</p>
