<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="CogMon.Url" value="http://localhost/cogmon/Call/" />
    <add key="CogMon.User" value="ziutek" />
    <add key="CogMon.Password" value="" />

    <add key="JobGroups" value="WYPAS2"/>
  </appSettings>
  <connectionStrings>
    <add name="atmodb" providerName="System.Data.SqlClient" connectionString="Data Source=(local);Initial Catalog=AtmosferaP45;User Id=p4user;Password=PASS"/>
  </connectionStrings>
  <runtime>
    <loadFromRemoteSources enabled="true" />
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
