<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <appSettings>
    <!--<add key="CogMon.Url" value="http://localhost/cogmon/Call/" />
    <add key="CogMon.User" value="ziutek" />
    <add key="CogMon.Password" value="" />
    -->
    <add key="JobGroups" value="${machinename}" />
    <add key="UDPPerfMonListener.ListenIP" value="0.0.0.0" />
    <add key="UDPPerfMonListener.Port" value="29823" />
    <add key="InfluxDbUrl" value="http://10.10.104.30:8086/write" />
    <add key="InfluxDbName" value="atmo" />
    <add key="InfluxUser" value="" />
    <add key="InfluxPassword" value="" />
    <add key="DataMap" value="true" />
    <add key="NaNToZero" value="true" />
    <add key="HttpListenAddress" value="http://+:9013/" />
  </appSettings>
  <connectionStrings>
    <add name="atmodb" providerName="System.Data.SqlClient" connectionString="Data Source=(local);Initial Catalog=AtmosferaP46;User Id=p4user;Password=PASS" />
  </connectionStrings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="con" xsi:type="Console" />
    </targets>
    <rules>
      <logger name="CogMon.Agent.Influx*" minlevel="Debug" writeTo="con" />
      <logger name="*" minlevel="Debug" writeTo="con" />
    </rules>
  </nlog>
  <runtime>
    <loadFromRemoteSources enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.1" newVersion="4.1.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup></configuration>
